:root{
    --main_color:#F79B36;
    --second_color:#989898;
    --bg-color:#E6EAEE;
    --transtion:0.3s;

  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Readex Pro', sans-serif;   
     direction: rtl;
}
 
a{
        text-decoration: none;
       
}
