@import url("../css/header.css");
@import url("./global.css");
i {
  font-size: 20px;
}

.container {
  width: 45% !important;
  direction: rtl !important;
  margin: auto;
  background: #F8F8F8;
  font-family: Cairo;
}

:root {
  --main_color:#F79B36;
}

.slider {
  width: 100%;
}

.location_branch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}

.offcanvas-backdrop {
  width: 0vw !important;
  background-color: transparent !important;
}

.offcanvas {
  width: 500px !important;
  margin: auto;
}

.offcanvas.offcanvas-bottom {
  height: 55%;
  box-shadow: 2px 5px 2px 2px #dbd7d7;
  border-radius: 10px;
}

.offcanvas-title {
  margin: auto;
}

.offcanvas-body {
  direction: rtl;
}

form {
  margin: auto;
  /* Style the checked radio button */
}
form hr {
  color: var(--second_color);
}
form input[type=submit] {
  background: #F79B36;
  border: none;
  color: white;
  margin: 30px auto;
  text-align: center;
  width: 110px;
  display: block;
  padding: 8px;
  font-size: 20px;
  border-radius: 8px;
}
form input[type=radio] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 83%);
  outline: none;
}
form input[type=radio]:checked {
  border: 2px solid hsl(0, 0%, 83%);
  background-color: #F79B36;
}

.btn-close:focus {
  box-shadow: 0 0 0 0.25rem #F79B36;
  opacity: 0.5;
}

form div {
  margin: 15px 0;
}
form div label {
  margin: 0 10px;
  font-family: Cairo;
  font-size: 18px;
}

.btn_custom {
  background: #EAEAEA;
}

.btn_custom:focus, .btn_custom:hover {
  background: #EAEAEA;
  outline: none;
  border-color: transparent;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 80% !important;
  }
  .mobile_screen {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100% !important;
  }
  .mobile_screen {
    display: block !important;
  }
  .title {
    display: block !important;
  }
  .info {
    display: none !important;
  }
}
.mobile_screen, .title {
  display: none;
}

.slidere .testbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 11px 1px rgba(0, 0, 0, 0.27);
  margin: 20px 0;
  border-radius: 15px;
}
.list .image {
  overflow: hidden;
  width: 25%;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.list .image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.list .content_list {
  padding: 10px 25px;
  text-align: end;
}
.list .content_list .more_details {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.list .content_list .more_details .action i {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  color: black;
  background-color: hwb(0 96% 8%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.list .content_list .more_details .action i:hover {
  background-color: var(--main_color);
  color: white;
}
.list .content_list .more_details .price span {
  color: var(--main_color);
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
}

.list_Gallery {
  box-shadow: 0 5px 11px 1px rgba(0, 0, 0, 0.27);
  margin: 20px 0;
  border-radius: 15px;
}
.list_Gallery .image {
  width: 100%;
}
.list_Gallery .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list_Gallery .content_list {
  padding: 10px 25px;
  text-align: end;
}
.list_Gallery .content_list .more_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_Gallery .content_list .more_details .action i {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  color: black;
  background-color: hwb(0 96% 8%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.list_Gallery .content_list .more_details .action i:hover {
  background-color: var(--main_color);
  color: white;
}
.list_Gallery .content_list .more_details .price span {
  color: var(--main_color);
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
}

.list_Galler {
  margin: 20px 0;
  border: 1px solid #CCC;
  border-radius: 15px;
  padding: 5px;
}
.list_Galler .image {
  width: 100%;
}
.list_Galler .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list_Galler .content_list {
  padding: 10px 25px;
  text-align: end;
}
.list_Galler .content_list .more_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_Galler .content_list .more_details .action i {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  color: black;
  background-color: hwb(0 96% 8%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.list_Galler .content_list .more_details .action i:hover {
  background-color: var(--main_color);
  color: white;
}
.list_Galler .content_list .more_details .price span {
  color: var(--main_color);
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
}

.nav-tabs .nav-link {
  color: #909090;
}

.nav-tabs .nav-link:hover {
  color: black;
}

.content_listt {
  padding: 10px;
  margin: 15px 0;
}
.content_listt h3 {
  font-weight: 500;
}

.details_more {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details_more h5, .details_more p {
  display: inline-block;
}

.choose_details {
  background-color: white;
  border-radius: 15px;
  padding-top: 15px;
}
.choose_details form {
  width: 100%;
}
.choose_details .addition {
  color: white;
  background-color: #F79B36;
  width: 100%;
  border-radius: 0px 0 15px 15px;
}
.choose_details .addition button {
  border: none;
}

input[type=checkbox] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  border: 2px solid hsl(0, 0%, 83%);
  outline: none;
}

input[type=checkbox]:checked {
  background-color: #F79B36;
}

.share_icon p {
  background-color: white;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.share_icon p:hover {
  background-color: var(--main_color);
  color: white;
}
.share_icon i {
  font-size: 16px;
  margin: 0 10px;
}

.content_list p {
  color: #909090;
}

.main_dish .splide__slide {
  margin: 0 5px;
}
.main_dish .splide__slide img {
  width: 100%;
}

.main_dish .splide__slide.is-active.is-visible img {
  border: 3px solid var(--main_color);
}

.story .splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100px !important;
}
.story .splide__slide h6 {
  font-size: 14px;
}
.story .splide__slide img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.story .splide__slide.is-active.is-visible img {
  border: 3px solid var(--main_color);
}/*# sourceMappingURL=home.css.map */