@import url('../css/header.css');
@import url('./global.css');
.slider{
    width: 100%;
}
.offcanvas-backdrop {
    width: 0vw !important; 
    background-color: transparent !important;
}
.offcanvas {
    width: 500px !important;
    margin: auto;
}
.offcanvas.offcanvas-bottom {
    height: 77%;
    box-shadow: 1px 1px 1px 1px #dbd7d7;
    border-radius: 10px;
}
.offcanvas-title{
    margin: auto;
}
.offcanvas-body{
    direction: rtl;
}
@media(min-width:769px) and (max-width:1024px) {
    .mobile_screen{
        display: none !important;
    }
    
}
@media(max-width:768px) {
    .mobile_screen{
        display: block !important;
    }
    .title{
        display: block !important;
    }
    .info{
       display: none !important;
    }
    
}
.mobile_screen{
    display: none;
}
.list_Galler ,
.list_Gallery{
    .image{
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }
}
.list , 
.list_Galler, 
.list_Gallery {
    border-radius: 15px;
    .content_list{
        h3{
            font-size: 18px;
        }
        .more_details{
            .action button{
                border: none;
                background:none;
            }
            .action i {
                width: 60px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 5px;
                color: black;
                background-color:             hwb(0 96% 8%)        ;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                &:hover{
                    background-color: var(--main_color);
                    color: white;
                }
            }
            .price{
                span{
                    color: var(--main_color);
                    display: inline-block;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }
}
.list{
  .image{
    overflow: hidden;
    width: 25%;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    img{
        object-fit: cover;
    }
  }
.content_list{
    .more_details{
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
}
}
.list_Gallery , .list{
    box-shadow: 0 5px 7px 1px rgb(0 0 0 / 27%);
}
.list_Galler{
    border: 1px solid #CCC;    
}
@media (max-width:768px) {
    .list{
        .image{
         width: 50%;
        }
    }
    .content_list{
        h3{
            font-size: 14px;
        }
        p{
            font-size: 13px;
        }
        .more_details{
            // background-color: red;
            .action i {
                width: 40px !important;
                height: 40px !important;
                line-height: 20px;
                margin-top: 10px;
            }
            .price{
                span{
                    color: var(--main_color);
                    display: inline-block;
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }
    .list_Galler{
    .image{
        height: 160px;
        img{
            height: 100%;
            border-radius: 15px;
        }
    }
}

   
}
//  لسه هيتظبط
form{

    margin: auto;
    input[type="radio"] {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid hsl(0, 0%, 83%);
        outline: none;
      }
        input[type="radio"]:checked {
        border: 2px solid hsl(0, 0%, 83%);
        // border: 2px solid #F79B36;
        
        // border-color: white;
        background-color: #F79B36;
       
      }
}
form div {
    // margin: 15px 0;
    label{
        margin: 0 10px;
        font-size: 18px;
    }

}
.male , .female{
    margin: 0px 0;
}
.nav-tabs .nav-link {
    color: #909090;
}
.nav-tabs .nav-link:hover {
    color:black;
}
.content_list{
    p{
        color: #909090;
    }
}
.main_dish .splide__slide{
    margin: 0 5px;
  img{
    width: 100%;
  }
}
.main_dish .splide__slide.is-active.is-visible{
    img{
        border: 3px solid var(--main_color);
    }
}
.story .splide__slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 90px !important;
    h6{
        font-size: 13px;
    }
        img{
            width: 85px;
            height: 85px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid var(--main_color);
        
          }
}