@import url('../css/header.css');
@import url('./global.css');
.slider{
    width: 100%;
}
.offcanvas-backdrop {
    width: 0vw !important; 
    background-color: transparent !important;
}
.offcanvas {
    width: 500px !important;
    margin: auto;
}
.offcanvas.offcanvas-bottom {
    height: 55%;
    box-shadow: 1px 1px 1px 1px #dbd7d7;
    border-radius: 10px;
}
.offcanvas-title{
    margin: auto;
}
.offcanvas-body{
    direction: rtl;
}
form{
    hr{
        color: var(--second_color);
    }
    margin: auto;
    input[type="radio"] {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid hsl(0, 0%, 83%);
        outline: none;
      }
        input[type="radio"]:checked {
        border: 2px solid hsl(0, 0%, 83%);
        // border: 2px solid #F79B36;
        
        // border-color: white;
        background-color: #F79B36;
       
      }
}
form div {
    margin: 15px 0;
    label{
        margin: 0 10px;
        font-family: Cairo;
        font-size: 18px;
    }

}
.male , .female{
    margin: 0px 0;
}
@media(min-width:769px) and (max-width:1024px) {
    .mobile_screen{
        display: none !important;
    }
    
}
@media(max-width:768px) {
    .mobile_screen{
        display: block !important;
    }
    .title{
        display: block !important;
    }
    .info{
       display: none !important;
    }
    
}
.mobile_screen{
    display: none;
}
.list_Galler ,
.list_Gallery{
    .image{
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}
.list , 
.list_Galler, 
.list_Gallery {
    border-radius: 15px;
    .content_list{
        h3{
            font-size: 18px;
        }
        .more_details{
            .action button{
                border: none;
            }
            .action i {
                width: 60px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 5px;
                color: black;
                background-color:             hwb(0 96% 8%)        ;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                &:hover{
                    background-color: var(--main_color);
                    color: white;
                }
            }
            .price{
                span{
                    color: var(--main_color);
                    display: inline-block;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }
}
// list 
.list{
  .image{
    overflow: hidden;
    width: 25%;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    img{
        object-fit: cover;
    }
  }
.content_list{
    .more_details{
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
}
}
.list_Gallery , .list{
    box-shadow: 0 5px 7px 1px rgb(0 0 0 / 27%);
}
.list_Galler{
    border: 1px solid #CCC;    
}
.nav-tabs .nav-link {
    color: #909090;
}
.nav-tabs .nav-link:hover {
    color:black;
}
.content_listt{
padding: 10px;
margin: 15px 0;
h3{
    font-weight: 500;
}
}
.details_more{
    margin: 10px 0;
display: flex;
justify-content: space-between;
align-items: center;
        h5 , p {
            display: inline-block;
        }
    
}
.choose_details{
    background-color: white;
    border-radius: 15px;
    padding-top: 15px;
    form{
        width: 100%;
    }
    .addition{
        color: white;
        background-color: #F79B36;
        width: 100%;
        border-radius: 0px 0 15px 15px;
        button{
            border: none;
        }
    }
}
input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 2px solid hsl(0, 0%, 83%);
    outline: none;
  }
  input[type="checkbox"]:checked {
    background-color: #F79B36;
  }
.share_icon{
 p{
    background-color: white;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    // transition: all 0.5 ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: var(--main_color);
        color: white;
    }

    
 }
    i{
        font-size: 16px;
        margin: 0 10px;
    }
}
.content_list{
    p{
        color: #909090;
    }
}
.main_dish .splide__slide{
    margin: 0 5px;
  img{
    width: 100%;
  }
}
.main_dish .splide__slide.is-active.is-visible{
    img{
        border: 3px solid var(--main_color);
    }
}
.story .splide__slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 90px !important;
    h6{
        font-size: 13px;
    }
        img{
            width: 85px;
            height: 85px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid var(--main_color);
        
          }
    // }

}