body {
    font-family: "Cairo";
    direction: rtl;
  }
  @font-face {
    font-family: "Cairo";
    src: local("Cairo"), url(../webfonts/Cairo-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "SemiBold";
    src: local("Cairo"), url(../webfonts/Cairo-SemiBold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Regular";
    src: local("Cairo"), url(../webfonts/Cairo-Regular.ttf) format("truetype");
  }
  hr{
    border-bottom: 1px solid #dfdfdf;
}
:root{
  --main_color:#F79B36;
}
a{
  text-decoration: none;
}
body{
  direction: rtl;
 
  .main_open{
    background: var(--main_color);
    width: 100%;
    height: 100vh;
    .test{
      width: 40%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: space-around;
      .btn_custom{
        display: block;
        margin: auto;
      
        i {
          font-size: 10px;
        }
      }

    }
    
  }
}


