@import url('./global.css');
  hr{
    border-bottom: 1px solid #dfdfdf;
}
  .main_open{
    background: var(--main_color);
    width: 100%;
    height: 100vh;
    .test{
      p{
        text-align: center !important;
      }
      width: 40%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: space-around;
      .btn_custom{
        display: block;
        margin: auto;
      
        i {
          font-size: 10px;
          margin: 0 10px;
        }
      }

    }
    
  }

.main_open{
  .btn_custom{
    width: 200px;
  }
}
