body {
    font-family: "Cairo";
    direction: rtl;
  }
  @font-face {
    font-family: "Cairo";
    src: local("Cairo"), url(../webfonts/Cairo-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "SemiBold";
    src: local("Cairo"), url(../webfonts/Cairo-SemiBold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Regular";
    src: local("Cairo"), url(../webfonts/Cairo-Regular.ttf) format("truetype");
  }
  hr{
    border-bottom: 1px solid #dfdfdf;
}
  .container_dash{
    display: flex;
    flex-direction: row;
    background-color: rgba(223, 223, 223 , 0.1);
    /* background-color: rgba(0, 0, 255,0.2); */
  }
  .sideBar{
    width: 300px;
    height: 100vh !important;
    padding: 15px 0;
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    .logo , .list{
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        align-items: center;
        padding: 5px 15px;
        border-bottom: 1px solid #dfdfdf;
        h2{
            font-weight: bold;
            font-size: 22px;
        }
        
    }
    .list{
        padding: 14px 15px;
        column-gap: 12px;
        &:last-child{
            border-bottom: none;
        }

       p{
        font-size: 21px;
        margin: auto  0;
    font-family: "SemiBold";


       }
    }
    
  }
//   contant
.contant{
    width: calc(100% - 330px);
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    height: auto;
    padding: 15px  0;
    h4{
        padding: 0 15px;
        width: max-content;
        position: relative;
        &::before{
            // contain: "";
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: red;
            right: 0;
            bottom: -16px;
        }
    }
    .inner_content{
        border-bottom: 1px solid #dfdfdf;
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 100px;
        font-family: "Regular";

         p{
            color: gray;
            font-size: 18px;
            // font-family: "s";
            font-family: "SemiBold";


         }
        &:last-child{
            border-bottom: none;
        }
    }
}